@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f8f8;
    color: #334155;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1100px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
    border-bottom: 1px solid #e2e8f0;
}

.header-title h2 {
    font-size: 20px;
    font-weight: 600;
    color: #0f172a;
    margin-bottom: 5px;
}

.header-title span {
    font-size: 14px;
    color: #64748b;
}


.header-btn {
    padding: 10px 20px;
    background-color: #3b82f6;
    color: white;
    border: 0;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s;
}

.header-btn:hover {
    background-color: #2463eb;
}

.table-wrapper {
    width: 100%;
}

.data-table {
    border-collapse: collapse; /* 테이블 셀 사이의 여백 제거 */
    width: 100%;
}

.data-table th {
    background-color: #f8fafc;
    color: #64748b;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 30px;
    border-bottom: 1px solid #e2e8f0;
}

.data-table td {
    padding: 20px 30px;
    font-size: 15px;
    border-bottom: 1px solid #f1f5f9;
}


.device-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-box {
    width: 36px;
    height: 36px;
    border-radius: 8px;
}

.icon-light {
    background-color: #fef08a;
}

.icon-thermostat {
    background-color: #fed7aa;
}

.device-name {
    color: #0f172a;
}

.status-badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
}

.badge-online {
    background-color: #dcfce7;
    color: #166534;
}

.badge-offline {
    background-color: #fee2e2;
    color: #991b1b;
}
.status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}


.badge-online .status-dot {
    background-color: #22c55e;
}

.badge-offline .status-dot {
    background-color: #ef4444;
}

.battery-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}


.battery-bar {
    width: 80px;
    height: 8px;
    background-color: #e2e8f0;
    border-radius: 4px;
    overflow: hidden;
}

.battery-fill {
    height: 100%;
    background-color: #10b981;
    border-radius: 4px;
}

.battery-text {
    font-size: 14px;
    color: #64748b;
    width: 35px;
}

.fill-low {
    background-color: #ef4444;
}

.text-low {
    color: #ef4444;
    font-weight: 700;
}

.action-btn {
    display: flex;
    justify-content: center;
}


.btn-edit {
    padding: 8px 16px;
    /* inherit : 부모의 값을 물려 받음 */
    background-color: transparent;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    color: #475569;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-edit:hover {
    border-color: #92a3b8;
    background-color: #f1f5f9;
}